body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#map,
#marcadores {
  height: 100%;
  width: 50%;
}

#marcadores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
