<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>04-formularios01</title>
    <script type="module" src="04-formularios01.js"></script>
  </head>
  <body>
    <div id="div">
      <form action="">
        <p>Nombre del mazo:</p>
        <input type="text" v-model="texto" />
        <p>{{texto}}</p>
        <br />
        Tipo de mazo:
        <br />
        <input type="checkbox" value="Agua" v-model="checked" />Agua
        <br />
        <input type="checkbox" value="Fuego" v-model="checked" />Fuego
        <br />
        <input type="checkbox" value="Planta" v-model="checked" />Planta
        <br />
        <input type="checkbox" value="Eléctrico" v-model="checked" />Eléctrico
        <p>{{checked}}</p>
        <br />
        <p>¿Cartas de partidario?</p>
        <input type="radio" value="NO" v-model="picked" />No
        <input type="radio" value="SÍ" v-model="picked" />Sí
        <p>{{picked}}</p>
        <br />
        <p>Pokemón destacado:</p>
        <select name="starter" id="starter" v-model="selected">
          <option value="Charmander">Charmander</option>
          <option value="Pikachu">Pikachu</option>
          <option value="Squirtle">Squirtle</option>
          <option value="Venusaur">Venusaur</option>
        </select>
        <p>{{selected}}</p>
        <br /><br />
        <p>
          Se ha creado el mazo con nombre "{{texto}}" de tipo {{checked}} que
          {{picked}} tiene cartas de partidario y su pokemón inicial es
          {{selected}}
        </p>
        <button>Resetear datos</button>
      </form>
    </div>
  </body>
</html>
